{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Timothée Girard, développeur web</title>
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    </head>
    <body>
        <nav>
            <h2>Timothée Girard</h2>
            <h3>Développeur web</h3>
            <ul>
                <li class="github"><a href="https://github.com/Titome">Github</a></li>
                <li class="twitter"><a href="https://twitter.com/GirardTimothee">Twitter</a></li>
            </ul>
            <p><a href="https://github.com/Titome/timotheegirard"><em>Fork me i'm famous</em></a></p>
        </nav>
        <p class="credit"><a href="https://www.flickr.com/photos/vvilly/6548694417/in/dateposted/">"Paname Paname Paname ..." Wilfried Lesauvage © Tous droits réservés</a></p>
    </body>
</html>
